.call-details-container {
  padding: 40px;
  background-color: #f8f9fa;
  border-radius: 8px;
  max-width: 900px;
  margin: 40px auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  position: relative;
}

.header-with-urgency {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.urgency-button {
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: default;
}

.urgency-button.life-threatening {
  background-color: #000000; /* Proper black color */
}

.urgency-button.urgent {
  background-color: #ff0000; /* Red for Urgent */
}

.urgency-button.same-day {
  background-color: #ff9900; /* Orange for Same Day */
}

.urgency-button.routine {
  background-color: #28a745; /* Green for Routine */
}

.call-card {
  padding: 30px;
  margin-bottom: 30px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
}

.actions-section {
  margin-top: 30px;
}

.actions-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.action-card {
  padding: 20px;
  background-color: #28a745;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease,
    background-color 0.2s ease;
  text-align: left;
}

.action-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  background-color: #218c3a;
}

.back-button {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

.back-button:hover {
  background-color: #218838;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}
